body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
    width: 100%;
    color: black;
    font-family: 'Barlow', sans-serif;
    font-style: italic;
    font-weight: 900;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 10vh;
    font-size: 5rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 900;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.image-box {
    width: 300px;
    height: 300px;
    padding: 12px;
    margin: 0;
    cursor: pointer;
    margin-bottom: 30px;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.new-box {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    margin: 12px;
    border-style: dotted;
    border-width: 2px;
    border-color: black;
    margin-bottom: 40px;
}

h2 {
    width: 100%;
    font-family: 'Barlow', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

h3 {
    width: 100%;
    font-family: 'Barlow', sans-serif;
    font-weight: 900;
    font-size: 1rem;
    margin-top: 10px;
    padding: 0;
    text-align: center;
}

input {
    margin-top: 5%;
}

button {
    margin-top: 5%;
}

#delete {
    text-align: center;
}